/* ===== Media query ====== */

/* == Newsletter == */
@media(min-width: 768px) {
    .news-input{
        width: 50%;
    }
}


body,h1,h2,h3,h4,h5,h6{
    font-family: 'Work Sans', sans-serif;
}

/*======= Boxes =======*/
.font-icon{
    font-size: 40px;
}

/*======================= */
#map{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}